<section class="vh-100" style="background-color: #9a616d">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyqlo2_oUMuByaOM64Qwt0hAr2R4BQ82NVmQ&usqp=CAU"
                alt="login form"
                class="img-fluid"
                style="
                  border-radius: 1rem 0 0 1rem;
                  height: 400px;
                  margin: auto;
                "
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <div class="d-flex align-items-center mb-3 pb-1">
                  <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219"></i>
                </div>

                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                  Create a new Blog
                </h5>

                <form action="/blogs/new" method="POST">
                  <div class="form-outline mb-4">
                    <label class="form-label" for="Title">Title</label>
                    <input
                      type="text"
                      name="title"
                      id="title"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="body">Description</label>
                    <input
                      type="text"
                      name="body"
                      id="body"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <label class="form-label" for="Category">Category</label>
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      name="categories"
                      id="categories"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <label class="form-label" for="username">Author</label>
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      name="username"
                      id="username"
                      class="form-control form-control-lg"
                    />
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">
                      Save
                    </button>
                  </div>
                </form>

                <!-- <a class="small text-muted" href="#!">Forgot password?</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
